
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
        <ion-title>Stage 1</ion-title>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
        <ion-title>Stage 2</ion-title>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
        <ion-title>Stage 3</ion-title>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
        <ion-title>Stage 4</ion-title>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
        <ion-title>Stage 5</ion-title>
      </ion-button>
    </ion-buttons>

    <!-- <ion-title>Work</ion-title> -->

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- could be "xs", "sm", "md", "lg", or "xl" -->        
  <ion-split-pane when="md">

    <!-- <ion-menu contentId="content"> 
      <ion-menu #leftSidebar contentId="step" menuId="left" type="reveal" side="start">
      -->
      <ion-menu contentId="step">
   
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu - STAGE 2</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-button>Toggle Menu</ion-button>
          <ion-menu [content]="content" auto-hide="false" *ngFor="let p of pages">
        </ion-menu-toggle> -->
  
        <ion-list>

          <ion-menu-toggle auto-hide="false"  *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-item>

        </ion-list>
         
      </ion-content>

    </ion-menu>
 
    <ion-router-outlet id="step" main></ion-router-outlet>
    <!-- <ion-router-outlet id="content" main></ion-router-outlet> -->

  </ion-split-pane>

</ion-content>  